<%- include('top') %>
<div id="me" class="bg-dark text-center text-white pt-5">
  <img class="profile-img" src="<%= data.imgUrl %>">
  <h3><%= data.firstName %> <%= data.lastName %></h3>
  <h1>
    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateProfileImageModal">
      Update Image
    </a>
    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProfileModal">
      Edit Profile <img src="/edit.png" alt="" style="width: 24px;" srcset="">
    </a>
  </h1>
  <div id="me-content" class="bg-light">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#missingPersons" type="button" role="tab" aria-controls="home" aria-selected="true">Posts</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#leads" type="button" role="tab" aria-controls="leads" aria-selected="false">Leads</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab" aria-controls="messages" aria-selected="false">Mail</button>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="missingPersons" role="tabpanel" aria-labelledby="home-tab">
        <h1 class="my-5">Missing Persons</h1>
        <h1><a class="btn btn-primary text-right" href="/new-person">New +</a></h1> 
        <% for (let i = 0; i < people.length; i++) { %>  
          <div class="person row mx-auto">
            <img src="<%= people[i].imgUrl %>" class="col col-12 col-sm-8 col-md-7 col-lg-5" alt="...">
            <div class="col m-auto text-center">
              <h3><%= people[i].firstName %>  <%= people[i].lastName %></h3>
              <% if (people[i].status == "Missing") { %>
                <h4 class="text-danger">Status: Missing</h4>
              <% } %>
              <% if (people[i].status !== "Missing") { %>
                <h4 class="text-success">Status: Found</h4>
              <% } %>
              <span><strong>Last seen place:</strong> <%= people[i].city %>, <%= people[i].state %> </span><br>
              <a href="/person/<%= people[i]._id %>">Additional Information</a> <br> <br>
              <a class="btn btn-primary" href="/edit-person/<%= people[i]._id %>">
                Edit Post
                <img src="/edit.png" alt="" style="width: 24px;" srcset="">
              </a>
              <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateImageModal<%= people[i]._id %>">
                Update Image
              </a>
              <a class="btn btn-danger" href="/delete-person/<%= people[i]._id %>">Delete</a>
            </div>  
          </div>


              <!-- Modal -->
          <div class="modal fade" id="updateImageModal<%= people[i]._id %>" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Update Person Image</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form id="update-img-form<%= people[i]._id %>" action="/update-person-image/<%= people[i]._id %>" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                      <label for="img" class="form-label">Select Image</label>
                      <input type="file" class="form-control" id="img" name="img">
                    </div>  
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" form="update-img-form<%= people[i]._id %>" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        <% } %>
 
      </div>
      <div class="tab-pane fade" id="leads" role="tabpanel" aria-labelledby="leads-tab">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 0; i < leads.length; i++) { %>    
              <% if (!leads[i].opened) { %>            
                <tr class="table-primary">
                  <td><span class="text-danger">New</span></td>
                  <td><a href="/lead/<%= leads[i]._id %>"> Lead for <%= leads[i].personName %></a></td>
                </tr>
              <% } %>  
              <% if (leads[i].opened) { %>
                <tr>
                  <td><span>Opened</span></td>
                  <td><a href="/lead/<%= leads[i]._id %>">Lead for <%= leads[i].personName %></a></td>
                </tr>
              <% } %>  
            <% } %>
          </tbody>
        </table>
      </div>
        <!-- Messages Tab -->
      <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="messages-tab">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 0; i < messages.length; i++) { %>    
              <% if (!messages[i].opened) { %>      
                <tr class="table-primary">
                  <td><span class="text-danger">New</span></td>
                  <td><a href="/conversation/<%= messages[i]._id %>"> Message From <%= messages[i].senderName %></a></td>
                </tr>             
              <% } %>  
              <% if (messages[i].opened) { %>
                <tr>
                  <td><span>Opened</span></td>
                  <td><a href="/conversation/<%= messages[i]._id %>">Message From <%= messages[i].senderName %></a></td>
                </tr>
              <% } %>  
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="update-form" action="/update-profile/<%= userId %>" method="POST">
          <div class="mb-3">
            <label for="fname" class="form-label">First Name</label>
            <input value="<%= data.firstName %>" type="text" class="form-control" id="fname" name="fname">
          </div>
          <div class="mb-3">
            <label for="lname" class="form-label">Last Name</label>
            <input value="<%= data.lastName %>" type="text" class="form-control" id="lname" name="lname">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" form="update-form" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="updateProfileImageModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Profile Image</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="update-profile-img-form" action="/update-profile-image/<%= userId %>" method="POST" enctype="multipart/form-data">      
          <div class="mb-3">
            <label for="img" class="form-label">Select Image</label>
            <input type="file" class="form-control" id="img" name="img">
          </div>            
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" form="update-profile-img-form" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<%- include('bottom') %>